<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>rhubarb main page</title>
</head>
<body>

<form method="post">
    <input name="task" type="text" id="task" placeholder="task parameters" />
    <button type="submit" >Add task</button>

 </form>
<!--

<select name="comp_select" class="selectpicker form-control">
              {% for o in data %}
              <option value="{{ o.name }}">{{ o.name }}</option>
              {% endfor %}
            </select>
-->
</body>
</html>